<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estiloej2.css') }}">
</head>
<body>
    <div class="container">
        <h2>Inicio de sesión</h2>
        <form method="POST">
            <label for="nombre">Ingresa tu nombre</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="contrasena">Ingresa tu contraseña</label>
            <input type="password" id="contrasena" name="contrasena" required>

            <button type="submit">Verificar</button>
        </form>
        {% if mensaje %}
        <div class="mensaje">
            <p>{{ mensaje }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>